*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif, arial;
    width:100vh;
    height: 100vh;
    background:Linear-gradient(to right, #9bbce8, #2b4d57); 
}
#container{
    padding:30px;
    width:80%;
    height: 80%;
    background:#fff; 
    background-image: url('../image/back.jpg');
    background-size: cover;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 10px black;
    box-sizing: border-box;
    border-radius: 5px;
}
#logo{
    max-width: 125px;
}
#content{
    max-width: 100%;
}
#content section{
    width:50%;
    height: 400px;
    float:left;
    position: relative;
}
#content section div{
width: 100%;
padding: 5px;
position: absolute;
top:50%;
left:50%;
transform: translateX(-50%) translateY(-50%);
}
#content section div h1{
    margin-bottom:10px;
    font-weight:800;
    
}
#content section div p{
    text-align: justify;
    font-size:9pt;
}
#content form{
    width:65%;
    height: 300px;
    background:rgba(0,0,0,0.8);
    padding: 10px;
    color:white;
    box-sizing: border-box;
    margin:0 auto;
}

form input, button{
        padding:5px 10px;
        margin: 10px 0;
        width:100%;
        box-sizing: border-box;
        color:grey;
        font-weight:bold;     
}
input::placeholder{
    color:#ccc;
}
input{
    background: transparent;
    border:0;
    border-bottom: 1px solid #eee;
    outline:none;
}
form a{
    text-decoration: none;
    float:right;
}
form > a{
    float:right;
    font-size:10pt;
}
form label{
    cursor:pointer;
}
form label, a{
    font-size:10pt;
    color:white;
    font-weight:bold;
}
button{
     transition:all 1s ease ;
    border:0;
    outline:none;
    background: #9bbec8;
    margin:20px 0;
    cursor:pointer;
}
button:hover{
    background: #2b4257;
}
form label{
    width:100%;
    display: block;
    text-align: center;
    margin:10px 0;
}
